<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wy-python</title>
</head>
<body>

<div id="app">

    <!--    思路
        1. 展示留言板
            a. 将所有的数据绑定为vue的实例
            b. 遍历vue的留言显示
        2. 发表留言
            a. 给发表留言的按钮绑定事件
            b. 获取用户在输入框所输入的值
            c. 将输入的值添加到留言板
        3. 删除留言
            a. 绑定事件
            b. 通过事件传递确定要删除的行
            c. 在触发的方法中完成删除
            d. 全部删除后按钮不再显示
            e. 逐条删除完毕,按钮不显示
    -->

    <input type="text" v-model="msg">
    <input type="button" value="发表留言" @click="add_note">

    <ul>
        <li v-for="(note, index) in notebook" :key="index">
            <span>{{note}}</span> <a href="javascript:;" @click="delNote(index)">删除</a>
        </li>
    </ul>

    <span>留言总数量：{{notebook.length}}条</span>
    <br>
    <input type="button" value="删除所有" @click="delete_all" v-show="isShow">

</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            notebook: ["Vue是中国人开发的", "我热爱毛老师的课堂"],
            msg: "",
            isShow:true
        },
        methods: {
            // 添加留言
            add_note() {

                // 判断输入框是否有值
                let msg = this.msg;
                if (msg) {
                    this.notebook.unshift(this.msg);
                    this.msg = "";
                }
            },

            // 删除留言
            delNote(index){
                console.log(index);
                // 根据下标取删除某个元素
                this.notebook.splice(index, 1);
                // if(this.notebook){
                //    alert(1)
                // }
                if (this.notebook.length == 0){
                    this.isShow = false;
                }
            },

            //删除全部留言
            delete_all(){
                this.notebook = [];
                this.isShow = false;
            },
        }
    })
</script>

</body>
</html>